

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.carousel-item {
  width: 100%;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 70px;
}
.form-control:focus {
  box-shadow: 10px 0px 0px 0px #ffffff !important;
  border-color: #4ca746;
}
.image-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.custome{
  margin: 80px 15px 0;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (max-width: 600px) {
  .carousel-item {
    height: 200px;
  }
}
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
